---
import Layout from '../layouts/Layout.astro';

const title = "G. Christopher Marais - Contact";
const activePage = "contact";
---
<Layout {title} activePage={activePage}>
  <section class="contact-info">
    <h1>Contact Details</h1>
    <!-- Insert your image below the email -->
    <img
      src="/page_images/profile_picture.jpg"
      alt="G. Christopher Marais"
      class="profile-image"
    />

    <p><a href="mailto:gmarais@ufl.edu">gmarais@ufl.edu</a></p>
    <p>
      <a href="https://www.linkedin.com/in/christopher-marais-623689122/" target="_blank">
        LinkedIn
      </a>
    </p>
    <p>
      <a href="https://www.orcid.org/0000-0003-3409-0473" target="_blank">
        ORCID
      </a>
    </p>
    <p>
      <a href="https://www.buymeacoffee.com/cmaraisust" target="_blank">
        Buy me a coffee
      </a>
    </p>
  </section>
</Layout>
