---
import Layout from '../layouts/Layout.astro';

const title = "G. Christopher Marais - Contact";
const activePage = "contact";
---
<Layout {title} activePage={activePage}>
  <section class="contact-info">
    <h1>Contact Me</h1>
    <p>Email: <a href="mailto:gmarais@ufl.edu">gmarais@ufl.edu</a></p>
    <p>
      <a href="https://www.linkedin.com/in/christopher-marais-623689122/" target="_blank">
        LinkedIn Profile
      </a>
    </p>
    <p>
      <a href="https://www.orcid.org/0000-0003-3409-0473" target="_blank">
        ORCID Profile
      </a>
    </p>
  </section>
</Layout>
