---
import Layout from '../layouts/Layout.astro';

const title = "G. Christopher Marais - Home";
const bodyClass = "home";
const activePage = "home";
---

<Layout {title} {bodyClass} {activePage}>
  <section class="welcome-message" style="text-align: center;">
    <br><br>
    <h1>Welcome!</h1>
    <p class="lead">Feel free to ask AMAbot anything about Christopher.</p>
    
    <!-- Embed an additional iframe below the Gradio app -->
    <div style="display: flex; justify-content: center; width: 100%;">
      <iframe
        src="https://christophermarais-amabot.hf.space"
        frameborder="0"
        style="width: 100%; max-width: 1200px; height: 500px;">
      </iframe>
    </div>

    <p class="lead">Stay tuned for updates, this website (including AMAbot) is still under construction...</p>
    <br><br>
  </section>
</Layout>
