---
import Layout from '../layouts/Layout.astro';

const title = "G. Christopher Marais - Home";
// Update the bodyClass to include "gradio-embed" so the CSS override applies:
const bodyClass = "home gradio-embed";
const activePage = "home";
---

<Layout {title} {bodyClass} {activePage}>
  <section class="welcome-message" style="text-align: center;">
    <br>
    <br>
    <h1>Hello and Welcome!</h1>
    <br>
    <br>
    <img
    src="/page_images/profile_picture.jpg"
    alt="G. Christopher Marais"
    class="profile-image"
    />
    <br>
    <br>
    <p class="lead">
      
      I'm Christopher Marais, and this is my little corner of the web where I share some of my projects and ideas. 
      It is a continuous work in progress, filled with some of my experiences and memories.
      <br>
      <br>
      Below is a small language model (AMAbot) that's slowly learning all about me. 
      This model is here to help answer any questions you might have about my work, my interests, or my background. 
      <br>
      It's currently running on a CPU on the free tier on huggingface. 
      It might be a bit slow and sometimes even stops responding due to rate limits.
      Consider buying me a coffee if you want to see it upgraded to a better tier.
      <br>
      <br>
      Thank you for stopping by!
    </p>
    <!-- Embed an additional iframe below the Gradio app -->
    <div class="iframe-wrapper">
      <iframe
        src="https://gcmarais-amabot.hf.space"
        frameborder="0">
      </iframe>
    </div>
  </section>
</Layout>
