---
import Layout from '../layouts/Layout.astro';

const title = "G. Christopher Marais - Home";
const bodyClass = "home";
const activePage = "home";
---

<Layout {title} {bodyClass} {activePage}>
  <section class="welcome-message">
    <h1>Welcome to My Personal Website</h1>

    <!-- Embed Hugging Face Space using the Gradio Web Component -->
    <script
      type="module"
      src="https://gradio.s3-us-west-2.amazonaws.com/5.16.0/gradio.js"
    ></script>
    <div style="margin: 0 auto; width: 100%; display: flex; justify-content: center;">
      <gradio-app src="https://christophermarais-amabot.hf.space"></gradio-app>
    </div>

    <br><br>
    <p class="lead">Stay tuned for updates, this website is under construction...</p>
  </section>
</Layout>
